.container {
    position: sticky;
    top: calc(65px + 16px);

    max-width: 200px;
    height: min-content;
    width: 100%;
    padding: rem(10px) 0;
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));

    ul {
        li {
            border-bottom: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-2));

            &:last-child {
                border-bottom: 0;
            }
        }
    }

    @media (max-width: $mantine-breakpoint-md) {
        display: none;
    }
}

.drawer {
    background-color: transparent !important;
    max-width: 100% !important;
    display: block !important;
}