.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
}

.form {
  display: flex;
  flex-direction: column;

  @media (max-width: $mantine-breakpoint-xs) {
    border: none !important;
    box-shadow: none !important;
  }
}

.controls {
  @media (max-width: $mantine-breakpoint-xs) {
    flex-direction: column-reverse;
  }
}

.control {
  @media (max-width: $mantine-breakpoint-xs) {
    width: 100%;
    text-align: center;
  }
}