.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem(10px);
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}