.container {
  display: flex;
  flex-direction: row;
  gap: rem(5px);

  button {
    align-self: flex-end;
  }

  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
  }
}

.textarea {
  flex: 1;
}
